<!DOCTYPE html>
<html>
<head>
    <title>About the forum</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>

<body>

    <h1 class="page-logo">
        <a href= "home"><%=forumName%>
            <p>!</p>
            <h2>Forum website</h2>
        </a>
    </h1>

    <h2 class="page-title"> About <%=forumName%> <span>!</span></h2>
    <main>
        <div class="about-container">
            <p class="standard-text">Crack It is a forum application built using Node.js, Express, MySQL, and EJS. It allows users to participate in discussions by posting on different topics.</p>
            <br><br>
            <div class="yellow-box">
                <h2>Features</h2>
            
            <div class="main-content">
            <ul>
                <li>Create new posts</li><br>
                <li>Search posts by title, content, creator or topic</li><br>
                <li>ALl User and topic pages</li><br>
                <li>Uses MySQL database backend</li><br>
            </ul>
            </div>
            </div>
            
            <div class="yellow-box">
            <h2>Future Plans</h2>
            
            <div class="main-content">
            <strong><p>Some features we are planning to add in the future:</p></strong>
            
            <ul>
                <li>User registration and login system</li><br>
                <li>Enhanced post formatting</li><br>
                <li>Email notifications for replies</li><br>
                <li>Profile page</li><br>
            </ul>
            </div>
            </div>
            </div>
    </main>
    
    <footer>
    <p>Created in 2023 by Rimia Vas as a project for DWA. The source code is available on GitHub at <a href="https://github.com/rimiavas">CLICK HERE</a> .</p>
    
    <p>contact me at rvas001@gold.ac.uk.</p>
    </footer>
</body>

</html>
