<!doctype html>
<html>
    <head>
        <title>Welcome to <%=forumName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <h1><%=forumName%> Forum website</h1>

        <nav>
            <ul>
                <li><a href="topics">List Of All Topics</a></li>
                <li><a href="users">List Of All Users</a></li>
                <li><a href="posts">List Of All Posts</a></li>
                <li><a href="addPost">Form To Create A New Post</a></li>
                <li><a href="search">Search Posts</a></li>
                <li><a href="about">Info About The Forum</a></li>
            </ul>
        </nav>
    </body>
</html>