<!doctype html>
<html>

    <head>
        <title>Welcome to <%=forumName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>

    <body>
        <h1 class="page-logo">
            <a href= "/"><%=forumName%> 
                <p>!</p> 
                <h2>Forum website</h2>
            </a>
        </h1>

        <nav>
            <ul>
                <li>
                    <a href="topics">All Topics</a>
                </li>
                <li>
                    <a href="users">All Users</a>
                </li>
                <li>
                    <a href="posts">All Posts</a>
                </li>
                <li>
                    <a href="addPost">Create A New Post</a>
                </li>
                <li>
                    <a href="search">Search Posts</a>
                </li>
                <li>
                    <a href="about">About Forum</a>
                </li>
            </ul>
        </nav>

        <main>

        </main>
    </body>

</html>