<!DOCTYPE html>
<html>
<head>
    <title>Not a member of Topic</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>

<body>

    <h1 class="page-logo">
        <a href= "/"><%=forumName%>
            <p>!</p>
            <h2>Forum website</h2>
        </a>
    </h1>

    <h2 class="page-title"> The user is not a member of the selected <%=forumName%> Topic<span>!</span></h2>

    <main>
        <div class="addpost-container">
            <p>Try again! Please ensure the user is a member of an topic before creating a new post</p>
            <a href="addPost">Click Here to add a post</a>
        </div>
        </main>
</body>

</html>
