<!DOCTYPE html>
<html>
<head>
    <title>Post deleted</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>

<body>

    <h1 class="page-logo">
        <a href= "home"><%=forumName%>
            <p>!</p>
            <h2>Forum website</h2>
        </a>
    </h1>

    <h2 class="page-title"> The Post was deleted from <%=forumName%><span>!</span></h2>

    <main>
        <div class="addpost-container">
            <p>Create a new post</p>
            <a href="addPost">Click Here to add a post</a>
        </div>
        </main>
</body>

</html>
