<!DOCTYPE html>
<html>
<head>
    <title>Search posts</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>

<body>

    <h1 class="page-logo">
        <a href= "home"><%=forumName%>
            <p>!</p>
            <h2>Forum website</h2>
        </a>
    </h1>

    <h2 class="page-title"> Search for posts on <%=forumName%> <span>!</span></h2>

    <main>
        <div class="search-container">
            <form class="search-post-form" action="/search-results" method="get">
                <p>What would like to search? </p>
                <input id="search-box" type="text" name="keyword" value="Default">
                <input type="submit" value="Search" >
            </form>
        
        </div>
    </main>

</body>

</html>
